body {
    font-family: Source Sans Pro, sans-serif;
    display: block;
    background-color: lightgrey;
    margin: 0;

}
/** {box-sizing: border-box;}*/


.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
clear: both;
}

.header {
    background-color: #222222;
    color: white;
}
.logo {
    float: left;
}
.headeritems a {
    color: white;
    text-decoration: none;
}
.headeritems a:hover {
    background-color: orange;
    weight: bolder;
}

.headeritems li {
    display: inline;
    padding: 5px;

}
.headeritems ul {
    float: left;
}

.rightheader {
    float: right;
}



h1 {
    font-size: 12px;
    color: gray;
}
h2 {
    font-size: 24px;
    color: black;
}

#right-side {
    margin-top: 5%;
    display: inline-block;
    box-sizing: border-box;
    float: right;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

#job-board {
    display: block;
    float: right;
    height: 200px;
    width: 246px;
    background-color: rgba(255,255,255,0.75);
    padding: 25px;
    margin-bottom: 43px;
    border-radius: 10%;

    }
#custom-forms {
    float: right;
    margin-bottom: 43px;
    display: block;
    background-color: rgba(255,255,255,0.75);
    padding: 25px;
    height:200px;
    width: 246px;
    border-radius: 10%;
    position: relative;
    text-align: center;
}
#media-template{
    float: right;
    margin-bottom: 43px;
    display: block;
    background-color: rgba(255,255,255,0.75);
    padding: 25px;
    height: 200px;
    width: 246px;
    border-radius: 10%;
    position: relative;
    text-align: center;
}

.img2 {
    width: 100px;
    height: 100px;
    float: left;
}
.img3 {
    width: 246px;
    height: 100px;
    float: left;
}

/* left side website css stuff */
#leftsside {
    margin-top: 5%;
    box-sizing: border-box;
    width: 70%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 50px;
}


#code {
    width: 403px;
}
.article {
    background-color: rgba(255,255,255,0.75);
    padding: 54px;
    box-sizing: border-box;
    border: 10px;
    margin-bottom: 43px;
    width: 700px;
    height: auto;
    border-radius: 2%;
    text-align: center;
}

.divi {
    float: left;
    margin-left: 5%;
}

.ad {
    background-color: rgba(255,255,255,0.75);
    padding: 54px;
    border: 10px;
    width: 40%;
    height: 300px;
    margin-bottom: 43px;
    display: inline-block;
    border-radius: 2%;
    /*float: left;*/
    box-sizing: border-box;
}

.footer {
    background-color: black;
    padding: 30px;
    position: relative;
    height: 87px;
    color: white;
}

.footer ul, li, a{
    display: inline;
    color: white;
    text-decoration: none;
    padding: 5px;
}


/*@media (max-width: 1018px) {
    .nav {
        float: left;
    }
}

    .header .avatar {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    .header .headeritems {
        background-color: gray;
        font-size: .8em;
        text-align: center;
    }
    .header .headeritems ul {
        display: inline-block;
        float: none;
    }
    .header .headeritems li {
        display: inline-block;
        float: none;
    }
    .header .headeritems li a {
        padding: 5px 19px;
    }*/
